html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, rgb(0, 128, 255), rgb(0, 255, 128));
}

header {
  background: white;
  color: white;
  margin: 15px;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#main>div {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: white;
}

header>div {
  float: left;
  position: absolute;
  vertical-align: middle;
  border: none;
  margin-top: 15px;
}


#title {
  color: rgb(0, 31, 145);
}

button {
  text-decoration: none;
}

#side-menu {
  z-index: 100;
  position: absolute;
  right: 20px;
  bottom: 10%;
  height: 250px;
  margin-top: -190px;
  margin-right: 10px;
  position: fixed;
  text-align: left;
  border: 2px solid lightgray;
  border-radius: 15px;
  background: white;
  opacity: 0.5;
}

#side-menu:hover {
  opacity: 1;
}

#side-menu>ul {
  overflow: hidden;
}

#side-menu>ul>li {
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
  position: relative;
}

#side-menu>ul>li>a {
  text-decoration: none;
  color: rgb(0, 31, 145);
}

div {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

#content {
  margin: 0 auto;
}

#main>div {
  height: 100vh;
}

.btns {
  display: flex;
  position: fixed;
  right: .4rem;
  bottom: .4rem;
}

.btns>div {
  padding: .6rem 1.5rem;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: .2s;
  color: #fff;
  margin-right: .4rem;
}

.moveTopBtn:hover {
  color: #000;
  background: #febf00;
}

.moveBottomBtn:hover {
  color: #000;
  background: #febf00;
}
img{
  width: 10vw;
}